a {
  text-decoration: none;
  color: white;
}
body {
  background-image: url("../image/bg.jpg");
  background-repeat: repeat;
  color: white;
}
.main-header {
  margin: auto;
  width: 100%;
  height: 30px;
  padding: 10px;
  background-color: black;

  text-decoration: none;
}
.main-header h1 {
  font-family: helvetica;
  text-align: center;
  margin: auto;
}
.main-header:hover {
  color: black;
  background-color: white;
  text-decoration: none;
}
.navegador ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

.navegador li {
  float: left;
}

.navegador li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navegador li a:hover {
  background-color: white;
  color: black;
}
#sidebar {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  list-style-type: none;
  width: 15%;
  margin-left: 85%;
}
#sidebar li {
  list-style-type: none;
  text-align: center;
  text-decoration: none;
  display: block;
  width: 100%;
  background-color: black;
}

#sidebar li:hover {
  background-color: white;
  color: black;
  text-decoration: none;
}
#sidebar ul {
}

img {
  width: 245px;
  height: 105px;
  border-radius: 8px;
  border: 5px solid black;
}
.main-box {
  background-color: black;
  width: 85%;
  text-align: justify;
  display: block;
  border-radius: 5px;
  margin-top: -570px;
}
.main-box p {
  width: 80%;
  border-color: white solid;
  height: 100%;
}
